.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #2879ff;
  box-shadow: 0 0 0 2px #2879ff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #2879ff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color:  #2879ff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #114ff8;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
 .header{
  min-height: 100vh;
  width:100%;
  background: url('/static/images/fondhome.jpg');
  background-size: cover;
  position: relative;
}
.home{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width:150px;
}
.nav-links{
  flex: 1;
  text-align:center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 12px;
  position:relative;
}

.nav-links ul li a{
  position: relative;
  font-size:1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
 .nav-links ul li a::after{
  content:'';
  position: absolute;
  left:0;
  bottom:-6px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transform-origin:right;
  transform: scaleX(0);
  transition: transform 0.5s;
  }
  .nav-links ul li a:hover::after{
  transform:scaleX(1);
  transform-origin: left;
  }
.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(255, 255, 255);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
nav .fa fa-times{
  display: none;
}
@media(max-width:1024px){
  .text-box h1{
    font-size: 60px;
  }
  
  .nav-links ul li a::after{
  content:'';
  position: absolute;
  left:0;
  bottom:-6px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transform-origin:right;
  transform: scaleX(0);
  transition: transform 0.5s;
  }
  .nav-links ul li a:hover::after{
  transform:scaleX(1);
  transform-origin: left;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #413c3c;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    align-items: left;
  }
  nav .fa-bars{
    display: block;
    color: #ffffff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav .fa-times{
    display: block;
    color: #ffffff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

  }
  .nav-links ul li {
    padding: 20px;
  }
  .button{
    margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  }
}
.button:active{
  transform: scale(0.98);
  box-shadow: 0 0 0 4px #114ff8;
}
.button {
  width: 120px;
  height: 50px;
  background: transparent;
  border:2px solid #fff;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 60px;
  transition:0.5s ;
  color: #ffffff;
}

/*login and signup form*/
.form  {
  --bg-light: #222325;
  --bg-dark: #8f8c8c;
  --clr:#2879ff;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}
.form  .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 700;
}

.form  .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form  .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
.input-span input::placeholder {
  color: var(--bg-light); 
}

.form  .before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.form  {
  --bg-light: #222325;
  --bg-dark: #8f8c8c;
  --clr:#2879ff;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}
.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form  .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form  .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
.input-span input::placeholder {
  color: var(--bg-light); 
}

.form  .before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.form  {
    width: 400px;
    position: center;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 30px;
    padding: 40px 15px;

}
.form  h1{
    text-align: center;
    font-size:36px;}

.form   .input-span{
  position: relative;
    width: 110;
    height: 50px;
    margin: 10px 0;
}
.input-span input{
    width: 100%;
    height: 100%;
    color: #ffffff;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 14px;
    padding: 0px 35px 0px 5px;
}
.input-span input::placeholder{
  color: #ffffff;
}
.input-span i {
   position: absolute;
   right:20px;
   top:50%;
   transform:translateY(-50%);
   font-size: 20px;
}
.form  .span{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.form   .span a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
.form   .span a:hover {
    color: #2879ff;
    text-decoration: underline;
}
.form  .span p {
    color: #ffffff;
    font-weight: 400;
}
.input-span input :focus label,
.input-span input :valid label {
  top: -3px;
}
.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 700;
}
