body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background-color: #f5f5f5;
      color: #333;
    }
    h2 {
      color: #004085;
    }
    .container {
      width :1100px;
      backdrop-filter:blur(20px) ;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
      margin-bottom: 40px;
      

    }
    input[type="file"] {
      margin-bottom: 10px;
    }
    button {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 10px 20px;
      margin-right: 10px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1em;
    }
    button:hover {
      background-color: #0056b3;
    }
    canvas {
      background: #fff;
      border: 3px solid #cdc7c7;
      border-radius: 6px;
    }
    .graph-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 20px;
        }
        .graph-box {
            border: 1px solid #ccc;
            padding: 15px;
            width: 400px;
        }
    .button {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 10px 20px;
      margin-right: 10px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1em;
    }
   .container-graph{
     max-width: 350px;
      background: white;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0,0,0,0.1);
      margin-bottom: 40px;
      
   }
   .graphs{display: flex;
      flex-direction: row;      
      gap: 20px;          
      flex-wrap: nowrap;       
      justify-content: center;  
      align-items: flex-start; 
      padding: 20px;
      overflow-x: auto;
}
.graphs  .input{
margin-bottom:40px ;
margin-left:30px ;
}
.graphs button {
  margin-bottom:20px ;
  margin-left: 10px;
}

.container1 {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.inpdddut[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

    